/.vs/DesignCrowd/v15/.suo
/.vs/DesignCrowd/v15/Server/sqlite3/db.lock
/.vs/DesignCrowd/v15/Server/sqlite3/storage.ide
/.vs/DesignCrowd/v15/Server/sqlite3/storage.ide-shm
/.vs/DesignCrowd/v15/Server/sqlite3/storage.ide-wal
/DesignCrowd.Tests/obj/Debug/netcoreapp2.2/DesignCrowd.Tests.AssemblyInfo.cs
/DesignCrowd.Tests/obj/Debug/netcoreapp2.2/DesignCrowd.Tests.AssemblyInfoInputs.cache
/DesignCrowd.Tests/obj/Debug/netcoreapp2.2/DesignCrowd.Tests.assets.cache
/DesignCrowd.Tests/obj/Debug/netcoreapp2.2/DesignCrowd.Tests.csproj.CoreCompileInputs.cache
/DesignCrowd.Tests/obj/Debug/netcoreapp2.2/DesignCrowd.Tests.csprojAssemblyReference.cache
/DesignCrowd.Tests/obj/Debug/netcoreapp2.2/DesignCrowd.Tests.Program.cs
/DesignCrowd.Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DesignCrowd.Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DesignCrowd.Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DesignCrowd.Tests/obj/DesignCrowd.Tests.csproj.nuget.cache
/DesignCrowd.Tests/obj/DesignCrowd.Tests.csproj.nuget.g.props
/DesignCrowd.Tests/obj/DesignCrowd.Tests.csproj.nuget.g.targets
/DesignCrowd.Tests/obj/project.assets.json
/DesignCrowd/bin/Debug/netcoreapp2.2/DesignCrowd.deps.json
/DesignCrowd/bin/Debug/netcoreapp2.2/DesignCrowd.dll
/DesignCrowd/bin/Debug/netcoreapp2.2/DesignCrowd.pdb
/DesignCrowd/bin/Debug/netcoreapp2.2/DesignCrowd.runtimeconfig.dev.json
/DesignCrowd/bin/Debug/netcoreapp2.2/DesignCrowd.runtimeconfig.json
/DesignCrowd/obj/Debug/netcoreapp2.2/DesignCrowd.AssemblyInfo.cs
/DesignCrowd/obj/Debug/netcoreapp2.2/DesignCrowd.AssemblyInfoInputs.cache
/DesignCrowd/obj/Debug/netcoreapp2.2/DesignCrowd.assets.cache
/DesignCrowd/obj/Debug/netcoreapp2.2/DesignCrowd.csproj.CoreCompileInputs.cache
/DesignCrowd/obj/Debug/netcoreapp2.2/DesignCrowd.csproj.FileListAbsolute.txt
/DesignCrowd/obj/Debug/netcoreapp2.2/DesignCrowd.csprojAssemblyReference.cache
/DesignCrowd/obj/Debug/netcoreapp2.2/DesignCrowd.dll
/DesignCrowd/obj/Debug/netcoreapp2.2/DesignCrowd.pdb
/DesignCrowd/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DesignCrowd/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DesignCrowd/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DesignCrowd/obj/DesignCrowd.csproj.nuget.cache
/DesignCrowd/obj/DesignCrowd.csproj.nuget.g.props
/DesignCrowd/obj/DesignCrowd.csproj.nuget.g.targets
/DesignCrowd/obj/project.assets.json
